body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    min-height: 90vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
}

hr {
    border: none; 
    height: 1px;
    background-color: #000000; /* Black color */
    width: 100%; /* Full width */
}

.sidebar {
    width: 90%; /* Take up 90% of the screen width on mobile */
    max-width: 250px; /* on large screens don't get bigger than this*/
    padding: 20px;
    border-right: 1px solid #ccc; /* Light border to separate the sidebar */
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: url('../sbbg.jpeg'); /* replace with your image path */
    background-size: cover;
    background-position: center;
    color: white; 
    margin-top: 0;
    margin-bottom: auto;
    border-radius: 10px;
}

.sidebar-name {
    font-size: 4em;
    margin: 0;
}

.sidebar-title {
    font-size: 1em;
    margin: 0;
}

.tagline {
    font-size: smaller;
    margin: 10px;
}

.aboutme {
    margin: 0px 4vb;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55vh;
    flex-grow: 1;
    padding: 0 20px 150px 20px;
    margin-top: 0;
}

.linkedin-button, .email-button, .github-button {
    font-family: 'Open Sans', sans-serif;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    gap: 10px;
    width: 300px; /* Set a specific width */
    text-align: center; /* Center the text and the icon */
    transition: background-color 0.3s; /* This allows the color to change gradually */
}

.linkedin-button {
    background-color: #0077B5; /* LinkedIn color */
}

.linkedin-button:hover {
    background-color: #005885; /* A darker shade of LinkedIn blue */
}

.email-button {
    background-color: #d44638; /* Gmail color */
}

.email-button:hover {
    background-color: #a2332a; /* A darker shade of Gmail red */
}

.github-button {
    background-color: #333; /* Darker GitHub color */
    color: white; /* Light text for darker background */
}

.github-button:hover {
    background-color: #4b4b4b; /* Slightly lighter than #333 */
    color: white;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 10px; /* This creates a 10px gap between the icons */
    flex-direction: row;
}

.contact-icons a {
    text-decoration: none;
}

.linkedin-icon, .email-icon, .github-icon {
    font-family: 'Open Sans', sans-serif;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;  /* Turn the button into a flex container */
    justify-content: center;  /* Center content horizontally */
    align-items: center;  /* Center content vertically */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%; /* Makes the button circular */
    width: 50px; /* Adjust based on your needs */
    height: 50px; /* Adjust based on your needs */
    text-align: center; /* Center the text and the icon */
    transition: background-color 0.3s; /* This allows the color to change gradually */
}

/* Ensure the icons don't take up the full space of the button */
.linkedin-icon i, .email-icon i, .github-icon i {
    display: inline;  /* Makes sure the icons don't act as block elements */
    width: auto;  /* Allows the icon to take up only as much width as it needs */
    height: auto;  /* Allows the icon to take up only as much height as it needs */
}

.linkedin-icon {
    background-color: #0077B5; /* LinkedIn color */
}

.linkedin-icon:hover {
    background-color: #005885; /* A darker shade of LinkedIn blue */
}

.email-icon {
    background-color: #d44638; /* Gmail color */
}

.email-icon:hover {
    background-color: #a2332a; /* A darker shade of Gmail red */
}

.github-icon {
    background-color: #333; /* Darker GitHub color */
    color: white; /* Light text for darker background */
}

.github-icon:hover {
    background-color: #4b4b4b; /* Slightly lighter than #333 */
    color: white;
}

.profile-picture {
    width: 60%;
    margin: 10%;
    /* More styles to make it look nice */
    border-radius: 50%;
    object-fit: cover;
}

.tabcontent {
    display: none;
}
  
.tablinks {
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 50px;
}

.tablinks:nth-child(1) { /* Styles for the "About Me" tab */
    background-color: #009688;
    color: white;
}
  
.tablinks:nth-child(2) { /* Styles for the "Projects" tab */
    background-color: #f44336;
    color: white;
}
  
.tablinks:nth-child(3) { /* Styles for the "Contact" tab */
    background-color: #3f51b5;
    color: white;
}

.tablinks:nth-child(4) { /* Styles for the "Resume" tab */
    background-color: #8e4585;
    color: white;
}
  
.tablinks:hover {
    opacity: 0.8;
}
  
.tablinks.active {
    background-color: #333;
}
  

footer {
    background-color: #f6f8fa; /* Light grey */
    padding: 5px 0;
    text-align: center;
    position: fixed;  /* Make the position relative to the viewport */
    bottom: 0;  /* Stick it to the bottom of the viewport */
    left: 0;
    right: 0;
    width: 100%;  /* Make it span the full width of the viewport */
    transition: padding 0.3s ease;
}


/* This is a media query that only applies to screens wider than 600px */
@media screen and (min-width: 768px) {
    body {
        justify-content: space-around; /* Put some space between the sidebar and content */
    }
    .sidebar {
        margin-bottom: 0; /* No need for space below the sidebar in a horizontal layout */
    }
    .main-content {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    main {
        width: 100%;
    }

    .sidebar {
        display: none;
    }

    .sidebar-name {

        background-color: #0080C6;
        color: white;
        font-size: 10vw;
        padding: 0 50px;
        margin-top: 1vh;
        cursor: pointer;
    }

    .aboutme {
        margin: 0;
    }

}
